
  <% if current_user %>
    <div id='all-messages'>
      <p style='background-color:red'>I work! Look I work!</p>
      <% Message.where(["sender_id=? OR receiver_id=?", current_user.id, current_user.id]).each do |message| %>
        <div class='message-info'>
          <% bidder = User.find(message.receiver_id) %>
            <%= link_to bidder do %>
              <div class='message-user-info'>
                <img src="<%= bidder.profile_photo %>">
                <%= bidder.name %>
              </div>
            <% end %>
            said
            <%= link_to [current_user,message] do %>
              <div class='message'>
                <%= message.created_at %>
                <!-- add limit to amount of text displayed -->
                <%= message.content %>
              </div>
            <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
