


  <div class="message-info">
    <% bidder = User.find(@message.receiver_id) %>
      <%= link_to bidder do %>
        <div class="message-user-info">
          <img src="<%= bidder.profile_photo %>">
          <%= bidder.name %>
        </div>
        <% end %>

        <div class="message">
          <%= @message.created_at %>
          <br>
          <%= @message.content %>
        </div>
  </div>

<%= render 'new_message_form', receiver_id: bidder.id %>

