<% @bids.each do |bid| %>

<div id="all-bids">

<%= content_tag(:div, class: "bid", id: dom_id(bid), data: {bid_info: bid}) do %>
  <% bidder = User.find(bid.user_id) %>
    <%= link_to bidder do %>
      <%= bidder.name %>
      <img src="<%= bidder.profile_photo %>">
      <%= bid.comment %>

    <% end %>

  <% if @user == current_user %>
    <button id="message-user">Message this user!</button>
    <%= link_to "Accept this bid!", bid, auction_accept_bid_path(bid), remote: true %>
  <% end %>

  <% if current_user == bid.user %>
  <%= button_to "delete bid", [bid.auction,bid], method: :delete, remote: true %>
  <% end %>

  <% end %>
</div>
<% end %>

