

<%= render 'show_partial' %>

bid on
<%= link_to @auction do %>
  <%= @auction.title %>
  <%= @auction.calculate_time_left %>
  <img src="<%= @auction.img_url %>">
<% end %>
at
<%= bid.created_at.strftime("%D%H")%>

<!--
<%= link_to @user do %>
  <%= @user.name %>
  <img src="<%= @user.profile_photo %>">
<% end %> -->




</div>
