<% @bids.each do |bid| %>

<div id="all-bids">

<%= content_tag(:div, class: "bid", id: dom_id(bid), data: {bid_info: bid}) do %>
  <% bidder = bid.user %>
    <%= link_to bidder do %>
      <%= link_to bid.user %>
      <img src="<%= bid.profile_photo %>">
    <% end %>

  <% if @user == current_user %>
    <button id="message-user">Message this user!</button>
    <%= link_to "Accept this bid!", bid, auction_accept_bid(bid), remote: true %>
  <% end %>

  <% if current_user == bid.user %>
  <%= link_to "delete", bid, method: :accept_bid, remote: true %>
  <% end %>

  <% end %>
</div>
<% end %>

