
<%= link_to @bidder do %>
<%= @bidder.name %>
<img src="<%= @bidder.profile_photo %>">
<% end %>
<%= @bid.comment %>
bid on
<%= link_to @auction do %>
<%= @auction.title %>
<%= @auction.calculate_time_left %>
<img src="<%= @auction.img_url %>">
<% end %>
by
<%= link_to @user do %>
<%= @user.name %>
<img src="<%= @user.profile_photo %>">
<% end %>
at
<%= @bid.created_at.strftime("%D%H")%>

<div id="bid-display">

  <% if @bid.comment.exists? %>
    <%= @bid.comment %>
  <% else %>
    <%= render 'form' %>
  <% end %>

</div>
