<%= form_for @auction do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.all.collect {|category| [category.title,category.id]}%>
  <br>
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
  <br>
  <%= f.label :website %>
  <%= f.url_field :website %>
  <br>
  <%= f.label :event_date %>
  <%= f.datetime_field :event_date %>
  <br>
  <%= f.label :time_begin, "Start Auction On:" %>
  <%= f.datetime_select :time_begin %>
  <br>
  <%= f.label :time_end, "End Auction On:" %>
  <%= f.datetime_select :time_end %>
  <br>
  <%= f.label :num_of_req_bids, "How many people can attend?" %>
  <%= f.number_field(:num_of_req_bids, in: 1..10) %>
  <br>
  <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
<br>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <%= f.submit %>

<% end %>
