<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>

<div class="form-group auction-create-form">
  <div class="col-sm-6">
    <%= form_for @auction do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      <br>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', rows: '3' %>
      <br>
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
      <br>
      <%= f.label :category_id %>
      <%= f.select :category_id, Category.all.collect {|category| [category.title,category.id]}, class: 'form-control' %>
      <br>
      <%= f.label :img_url %>
      <%= f.text_field :img_url, class: 'form-control', placeholder: "optional" %>
      <br>
      <%= f.label :website %>
      <%= f.url_field :website, class: 'form-control', placeholder: "optional" %>
      <br>
      <!-- begin bootstrap datetimepicker -->
      <%= f.label :event_date %>
      <div class='input-group date' id='datetimepicker1'>
        <%= f.datetime_field :event_date, class: 'form-control'%>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
      <br>

      <%= f.label :auction_begin %>
      <div class='input-group date' id='datetimepicker2'>
        <%= f.datetime_field :time_begin, class: 'form-control'%>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
      <br>
      <%= f.label :auction_end %>
      <div class='input-group date' id='datetimepicker3'>
        <%= f.datetime_field :time_end, class: 'form-control', placeholder: 'All auctions end at 9PM on date chosen' %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      <!-- end bootstrap datetimepicker -->
      </div>
      <br>

      <br>
      <%= f.label :num_of_req_bids, "How many people are you looking for?" %>
      <%= f.number_field(:num_of_req_bids, in: 1..10, class: 'form-control') %>
      <br>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
        Create Auction
      <% end %>

    <% end %>
  </div>

</div>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker3').datetimepicker({
      pickTime: false
    });
  });
</script>
