<%= form_for @auction do |f| %>

<%= form_tag("/create-tweet") do %>
<%= hidden_field_tag :tweet, auction.
  content%>

<%= submit_tag("Tweet") %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.all.collect {|category| [category.name,category.id]}%>
  <br>
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
  <br>
  <%= f.label :website %>
  <%= f.url_field :website %>
  <br>
  <%= f.label :event_date %>
  <%= f.select_datetime :event_date %>
  <br>
  <%= f.label :time_begin %>
  <%= f.select_datetime :time_begin %>
  <br>
  <%= f.label :time_end %>
  <%= f.select_datetime :time_end %>
  <br>
  <%= f.label :num_of_req_bids %>
  <%= f.number_field(:num_of_req_bids, in: 1..10) %>
  <br>
  <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
<br>
  <%= f.submit %>

<% end %>
