<h1>Auctions</h1>
<%= link_to 'Search Auctions by Location', new_search_path %>
<h3> Sort By </h3>
<nav id="auctions-index-nav">
  <li>Title</li>
  <li>Location</li>
  <li>Category</li>
  <li>Created At</li>
  <li>End Time</li>
</nav>

<div id="auctions-container">
 <% @auctions.each do |auction| %>
 <%= link_to auction do %>
  <div class="auction">

      <%= auction.title %><%= auction.description[0..100] %><%= auction.location %><%= auction.category_id %>

      <div class="auctions-timer"><!-- COUNTDOWN --></div>
      <br>
  </div>
<% end%>
<% end%>
</div>
<div style ="height: 300px; width 500px"id="DateCountdown" data-date="2015-01-14 00:00:00" style="width: 100%;"></div>

