<h1>Auctions</h1>
<div id="search-box"><%= render '/searches/search' %><div>
<h3> Sort By </h3>
<nav id="auctions-index-nav">
  <li>Title</li>
  <li>Category</li>
  <li>Created At</li>
  <li>End Time</li>
</nav>

<div id="auctions-container">
 <% @auctions.each do |auction| %>

  <div class="auction">
      <a href="/auctions/<%= auction.id %>">
      <h3> Title: <%= auction.title %> </h3>
      </a>

      <div id="auctions-end">
      <h4>Auction End:</h4>
      <div id="DateCountdown" data-date="<%= auction.time_end %>" style="width: 400px;"></div>
      </div>
      Description:<%= auction.description[0..100] %>
      <br>
      <% if false %>
      <% if auction.category_id != nil %>
      Category:<img src="<%= Category.find(auction.category_id).badge_photo %>"><h5><%= Category.find(auction.category_id).title %></h5>
      <% end %>
      <br>
      <% end %>

      <br>
  </div>

<% end%>
</div>

