<div id="container-show">

  <div id="auction-info">
    <h3><%= Category.find(@auction.category_id).title %></h3>
    <h1><%= @auction.title %></h1>
    <h5><img width='100px' style="border-radius: 50px" src="<%= @user.profile_photo %>"> posted by <%= link_to @auction.user.name, user_path(@user.id) %></h5>
    <br />

  <div>
  <h4>Description:</h4>
  <p><%= @auction.description %></p>
  </div>

  <h5>Ending In:</h5>
  <div id="auction-show-timer" >
    <div id="DateCountdown" data-date="<%= @auction.time_end %>" style="width: 600px;"></div>
  </div>

  <div id='tweet'>
    <h5>Share This Auction</h5>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
  </div>
  </div>

  <% unless current_user == @user || @auction.is_completed? %>
    <div id="add-bid">
      <h2>Interested?</h2>
      <div id="auction-bids">
        <%= form_for [@auction, @bid], method: :post, authenticity_token: true, remote: true do |f| %>
          <%= f.label :comment %>
          <%= f.text_field :comment, class: 'form-control' %>
          <%= f.submit "I'm Interested", class: 'btn btn-default' %>
        <% end %>
      </div><!-- end auction-bids -->
    <% end %>
    <h3>Current Bids:</h3>
      <%= render '/bids/bid' %>
  </div><!-- end add-bid -->
</div><!-- end container-show -->

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
