<div id="auction-show-title">
<h1 id="auction-title"><%= @auction.title %></h1>
</div>

<div id="auction-show-category">
    <%= @auction.category_id %>
 </div>

<div id="auction-show-description">
<p><%= @auction.description %></p>
</div>

<div id="auction-show-location">
  <p><%= @auction.location %></p>
</div>

<div id="auction-show-timer" >
<!--   COUNTDOWN -->
</div>


<!-- FOR AUCTION TIMER CLOCK

DAYS:(time_end.day - time_begin.day)
HOURS: (time_end.hour - time_begin.hour)
MINUTES: (time_end.minute - time_begin.minute)
SECONDS: (time_left).round -->

<div id="auction-bids">


    <% unless current_user == @user || @auction.is_completed? %>
     <div id="add_bid">
      <p>Add Bid!</p>
      <%= form_for @bid, remote: true do %>
        <%= f.label :comment %>
        <%= f.text_field :comment %>
        <%= f.submit "Commit bid"%>
      <% end %>
    <% end %>
  </div>

<%= render '../bids/show_partial' %>

<% end %>
</div>

