<h1>Auctions#show</h1>
<p>Find me in app/views/auctions/show.html.erb</p>


<!-- FOR AUCTION TIMER CLOCK

DAYS:(time_end.day - time_begin.day)
HOURS: (time_end.hour - time_begin.hour)
MINUTES: (time_end.minute - time_begin.minute)
SECONDS: (time_left).round -->

<div id="auction-bids">

  <div id="add_bid">
    <% unless current_user == @user %>
      <p>Add Bid!</p>
      <%= form_for @bid, remote: true do %>
        <%= f.label :comment %>
        <%= f.text_field :comment %>
        <%= f.submit "Commit bid"%>
      <% end %>
    <% end %>
  </div>

<%= render '../bids/show_partial' %>

<div id="bid-comment-display">
  <% if bid.comment.exists? %>
    <%= bid.comment %>
  <% else %>
    <%= render '../bids/new_comment' %>
  <% end %>
</div>

<% end %>
</div>

