
<div id="container-show">
<div id="auction-show-title">
<h1 id="auction-title"><%= @auction.title %> by:<h3> <img id="auction-img" src="<%= @user.profile_photo %>">  <%= @user.name %></h3>
  <h3 id="tweet"> Share This Auction
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></h3></h1>
</div>





<div id="auction-show-category">
    <h5>Category: </h3><%= @auction.category_id %>
 </div>

<div id="auction-show-description">
<h5> Description </h5>
<p><%= @auction.description %></p>



<div id="auction-info">
  <h3 style="color: orange; font-family: Helvetica "><%= Category.find(@auction.category_id).title %></h3>
  <h1> <%= @auction.title %> </h1>
  <h5> posted by <%= link_to @user.name, users_path(@user) %></h5>
<img width='200px' style="border-radius: 100px" src="<%= @user.profile_photo %>">

<div style="display: inline-block; width: '400px' ">
<h5> Auction Description </h5>
<p><%= @auction.description %></p>
</div>

<h5> Auction Ends: </h5>
<div id="auction-show-timer" >
  <div id="DateCountdown" data-date="<%= @auction.time_end %>" style="width: 600px;"></div>
</div>

<div id='tweet'>
  <h5> Share This Auction</h5>
  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
</div>
</div>



    <% unless current_user == @user || @auction.is_completed? %>
     <div id="add_bid">

      <h5>You Interested?</h5>



<div id="auction-bids">
 <%= form_for [@auction, @bid], method: :post, authenticity_token: true, remote: true do |f| %>
        <%= f.label :comment %>
        <%= f.text_field :comment %>
        <%= f.submit "I'm Interested"%>
       </div><% end %>
    <% end %>



<h3> Bids: </h3>
<%= render '/bids/bid' %>


</div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
