




<div id="auction-info">
  <h3 style="color: orange; font-family: Helvetica "><%= Category.find(@auction.category_id).title %></h3>
  <h1> <%= @auction.title %> </h1>
  <h5> posted by <%= link_to @user.name, users_path(@user) %></h5>
<img width='200px' style="border-radius: 100px" src="<%= @user.profile_photo %>">

<div style="display: inline-block; width: '400px' ">
<h5> Auction Description </h5>
<p><%= @auction.description %></p>
</div>

<h3> Auction Ends: </h3>
<div id="auction-show-timer" >
  <div id="DateCountdown" data-date="<%= @auction.time_end %>" style="width: 600px;"></div>
</div>

<div id='tweet'>
  <h5> Share This Auction</h5>
  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
</div>
</div>

<div id="auction-bids">

    <% unless current_user == @user || @auction.is_completed? %>
     <div id="add_bid">

      <h1>You Interested?</h1>

      <h1>I'm Interested!</h1>

      <%= form_for [@auction, @bid], method: :post, remote: true do |f| %>
        <%= f.label :comment %>
        <%= f.text_field :comment %>
        <%= f.submit "I'm Interested"%>
      <% end %>
    <% end %>

  </div>

<%= render '/bids/bid' %>

</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
