
<div id='dashboard'>

  <div id="user-info">

    <img id="profile-photo" src="<%= @user.profile_photo %>">
    <h1 id="profile-name"><%= @user.name %></h1>
    <p id="profile-bio"> <%= @user.bio %></p>
  </div>
<br>
  <div id="categories">
    <h1>Badges:</h1>
    <h4><a href="/categories">Categories Information</a></h4>
    <% @badges.each do |badge| %>
    <img id="badge-photo" src="<%= badge.badge_photo %>"><h4> <%= badge.title %></h4>
    <%end%>

  </div>

</div>

<br>
<!-- Notification center (only visible to profile owner) -->

  <% if current_user %>
    <div id="status-menu" >
      <nav>
        <li id="bio">Bio</li>
        <li id="nav-bids">Bids<div class="unread-items" id="unread-bids"></div></li>
        <li id="nav-auctions">Auctions<div class="unread-items" id="unread-auctions"></div></li>
      </nav>

      <div id="notification-center">

<!-- Bid section -->
           <div id="bids-notifications">

              <div id="outgoing-bids">
               <%= render '/bids/show_complete' %>
              </div>
            <% if @bids != nil %>
              <div id="received-bids">
             <% @outgoing_bids.each do |bid| %>
                 <%= bid.created_at %><%= bid.comment[0..100] %>


                 <div><%= form_tag("/create-tweet") do %>
                  <%= hidden_field_tag :tweet, auction.content%>
                  <%= submit_tag("Tweet") %>
                </div>

                <% end %>

            <% end %>
              <div>
                 <% unless @outgoing_bids == nil %>
                  <% @outgoing_bids.each do |bid| %>
                   <%#= bid.created_at %><%#= bid.comment[0..100] %>
                    <% end %>
                  <% else %>
                <%= link_to "Please Enter a Bid first",  new_auction_bid %>
                     <% end %>

              </div>

<!-- Auction section -->
           <div id="auctions-notifications">

             <% unless @auctions == nil %>
            <% @auctions.each do |auction| %>
              <%#= link_to auction.title, auction %><%= auction.description[0..100] %>
              <%= auction.title %><%= auction.description[0..100] %>
              <%= auction.time_begin %>
              <%= auction.time_end %>
              <br>
              <%end%>
                  <% else %>
                  <%= link_to "Please choose an auction", root_path %>
                 <% end %>

             <% if @auctions != nil %>
             <h3>Current Auctions</h3>
              <% @auctions.each do |auction| %>
                <ul>
                  <li><%= link_to auction.title, auction %></li>
                </ul>
              <%end%>
            <%end%>
          </div>
      </div>
    </div>
  <% end %>

<% end %>
