
  <%= form_for @search do |f| %>

    <h5> City: </h5>
    <%= f.text_field :keywords %>



    <h5> Distance to Search - miles: </h5>
    <%= f.text_field :distance %>



    <h5> Category: </h5>
    <%= f.collection_select :category_id, @categories.order(:title), :id, :title, include_blank: true %>


<br>

    <%= f.submit "Search" %>


<% end %>
