<!DOCTYPE html>
<html>
<head>
  <title>SocialLight</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


</head>
<%= render partial: 'layouts/navbar', locals: {current_user: current_user} %>
<body>

<div class="container">
  <%= yield %>
</div>
<!--
<footer class='footer'>
  <%= link_to 'https://www.facebook.com/sociallightco' do %>
    <%= image_tag "socialmediaicons/facebook.png" %>
  <% end %>

  <%= mail_to "sociallightco@gmail.com" do %>
    <%= image_tag "socialmediaicons/google.png" %>
  <% end %>

  <%= link_to 'https://twitter.com/sociallightco' do %>
    <%= image_tag "socialmediaicons/twitter.png" %>
  <% end %>

</footer> -->

</body>
</html>
